<template>
  <fieldset>
    <label for="api_key">Openweathermap API Key</label>
    <input type="text" id="api_key" name="apiKey" v-model="currentSettings.apiKey"/>

    <fieldset class="autocomplete">
      <label for="city">{{ t("City") }}</label>
      <input
          type="text"
          @input="autocompleteCities"
          name="cityName"
          id="city"
          class="autocomplete__input"
          v-model="currentSearch"
      />
      <ul
          class="autocomplete__list"
          v-show="cityCandidates.length > 0 || loadingAutocomplete"
      >
        <li v-show="loadingAutocomplete" class="autocomplete__list-item">
          {{ t("Loading results") }} …
        </li>
        <li
            v-for="candidate in cityCandidates"
            :key="candidate.id"
            @click="setCity(candidate)"
            class="autocomplete__list-item"
        >
          {{ candidate.name }} ({{ candidate.country }})
        </li>
      </ul>
      <input type="hidden" name="cityId" :value="currentSettings.cityId"/>
    </fieldset>

    <fieldset name="temperature_unit" class="temperature_unit">
      <legend>{{ t("Temperature unit") }}</legend>

      <RadioBoxedLabel
          :labelleft="{ for: 'temperature_unit_fahrenheit', text: t('Fahrenheit (°F)') }"
          :labelright="{ for: 'temperature_unit_celsius', text: t('Celsius (°C)') }"
          :selected="currentSettings.temperatureUnit === 'imperial' ? 'left' : 'right'"
          :hideinput="false"
      >
        <input
            slot="input-left"
            type="radio"
            id="temperature_unit_fahrenheit"
            name="temperatureUnit"
            value="imperial"
            v-model="currentSettings.temperatureUnit"
        />
        <input
            slot="input-right"
            type="radio"
            id="temperature_unit_celsius"
            name="temperatureUnit"
            value="metric"
            v-model="currentSettings.temperatureUnit"
        />
      </RadioBoxedLabel>
    </fieldset>
  </fieldset>
</template>

<script>
module.exports = {
  name: "openweathermap",
  autocompleteHost: "https://api.glancr.de",
  props: {
    currentSettings: {
      type: Object,
      required: false,
      default: function () {
        return {
          cityId: "",
          cityName: "",
          apiKey: "",
          temperatureUnit: "metric"
        }
      }
    }
  },
  data: function () {
    return {
      cityCandidates: [],
      currentSearch: this.currentSettings.cityName,
      loadingAutocomplete: false
    };
  },
  methods: {
    autocompleteCities: async function (e) {
      this.cityCandidates = [];
      if (e.target.value.length <= 2) {
        return;
      }
      this.loadingAutocomplete = true;
      console.debug(e.target.value);
      const data = await this.axios.get(
          `${this.$options.autocompleteHost}/openweathermap/available-cities.php?q=${e.target.value}`
      );
      this.cityCandidates = data.data;
      this.loadingAutocomplete = false;
    },
    setCity: function (city) {
      this.currentSettings.cityName = city.name;
      this.currentSettings.cityId = city.id;
      this.currentSearch = city.name;
      this.cityCandidates = [];
    }
  },
  locales: {
    deDe: {
      City: "Stadt",
      "Openweathermap API Key": "Openweathermap API-Key",
      "Temperature unit": "Temperatureinheit",
      "Loading results": "Lade Ergebnisse"
    },
    frFr: {
      City: "Ville",
      "Temperature unit": "Unité de température",
      "Loading results": "Chargement des résultats"
    },
    esEs: {
      City: "Ciudad",
      "Temperature unit": "Unidad de temperatura",
      "Loading results": "Cargando resultados"
    },
    plPl: {
      City: "Miasto",
      "Temperature unit": "Jednostka temperatury",
      "Loading results": "Ładowanie wyników"
    },
    koKr: {
      City: "도시",
      "Temperature unit": "온도 단위",
      "Loading results": "로딩 결과"
    }
  },
};
</script>
<style scoped>
.autocomplete {
  width: 100%;
  position: relative;
}

.autocomplete__input {
  margin-bottom: 0;
}

.autocomplete__list {
  list-style-type: none;
  background-color: #fff;
  border: 3px solid #eeeeee;
  box-sizing: border-box;
  max-height: 200px;
  overflow-y: scroll;
  overflow-x: hidden;
  position: absolute;
  width: 100%;
  margin-left: 0;
  margin-block-start: 0;
  margin-block-end: 0;
  z-index: 1;
}

.autocomplete__list-item {
  padding: 0.25rem;
  border-bottom: 1px solid #eeeeee;
}

.autocomplete__list-item:hover {
  background-color: #8ba4c1;
}

.temperature_unit {
  margin-top: 1rem;
}
</style>
